#imHeader_imCell_6 { display: block; position: relative; overflow: visible; }
#imHeader_imCellStyle_6 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imHeader_imCellStyleGraphics_6 { position: absolute; top: 0px; bottom: 0px; background-color: transparent; }
#imHeader_imObjectTitle_06 {overflow: hidden; text-align: left; }
#imHeader_imObjectTitle_06_text {font: normal normal bold 72pt 'Times New Roman';  padding: 0px 0px 0px 0px;background-color: transparent; position: relative; display: inline-block; }
#imHeader_imObjectTitle_06_text,
#imHeader_imObjectTitle_06_text a { color: #FFFFFF; }
#imHeader_imObjectTitle_06_text a{ text-decoration: none; }
#imGroup_1 { float: left; }
#imGroup_2 > div { float: left; }
#imCell_1 { display: block; position: relative; overflow: hidden; }
#imCellStyle_1 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_1 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
#imTextObject_3_01 { font-style: normal; font-weight: normal; line-height: 20px; }
#imTextObject_3_01_tab0 ul { list-style: disc; margin: 0 8px; padding: 0px; overflow: hidden; }
#imTextObject_3_01_tab0 ul ul { list-style: square; padding: 0 0 0 20px; }
#imTextObject_3_01_tab0 ul ul ul { list-style: circle; }
#imTextObject_3_01_tab0 ul li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_3_01_tab0 ol { list-style: decimal; margin: 0px 15px; padding: 0px; }
#imTextObject_3_01_tab0 ol ol { list-style: lower-alpha; padding: 0 0 0 20px; }
#imTextObject_3_01_tab0 ol li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_3_01_tab0 blockquote { margin: 0 0 0 15px; padding: 0; border: none; }
#imTextObject_3_01_tab0 table { border: none; padding: 0; border-collapse: collapse; }
#imTextObject_3_01_tab0 table td { border: 1px solid black; word-wrap: break-word; padding: 4px 3px 4px 3px; margin: 0; vertical-align: middle; }
#imTextObject_3_01_tab0 p { margin: 0; padding: 0; }
#imTextObject_3_01_tab0 .inline-block { display: inline-block; }
#imTextObject_3_01_tab0 sup { vertical-align: super; font-size: smaller; }
#imTextObject_3_01_tab0 sub { vertical-align: sub; font-size: smaller; }
#imTextObject_3_01_tab0 img { border: none; margin: 0; vertical-align: text-bottom;}
#imTextObject_3_01_tab0 .fleft { float: left; vertical-align: baseline;}
#imTextObject_3_01_tab0 .fright { float: right; vertical-align: baseline;}
#imTextObject_3_01_tab0 img.fleft { margin-right: 15px; }
#imTextObject_3_01_tab0 img.fright { margin-left: 15px; }
#imTextObject_3_01_tab0 .imUl { text-decoration: underline; }
#imTextObject_3_01_tab0 .imVt { vertical-align: top; }
#imTextObject_3_01_tab0 .imVc { vertical-align: middle; }
#imTextObject_3_01_tab0 .imVb { vertical-align: bottom; }
#imTextObject_3_01_tab0 .fs14 { vertical-align: baseline; font-size: 14pt; }
#imTextObject_3_01_tab0 .ff1 { font-family: 'Garamond'; }
#imTextObject_3_01_tab0 .cf1 { color: rgb(51, 51, 51); }
#imTextObject_3_01 .text-container {margin: 0 auto; position: relative; overflow: hidden;  background-color: #FFFFFF;  }
#imCell_2 { display: block; position: relative; overflow: hidden; }
#imCellStyle_2 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_2 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
#imObjectImage_3_02 { width: 100%; vertical-align: top; max-width: 495px; }
@media (min-width: 1150px) {
	.imContentDataContainer { width: 1014px; margin-left: auto; margin-right: auto; padding: 0 5px 0 131px; }
	#imGroup_1 { width: 100%; }
	#imGroup_2 { width: 1014px; }
	#imCell_1 { width: 501px; min-height: 303px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_1 { width: 501px; min-height: 303px; padding: 3px 3px 20px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_1 { left: 3px; right: 3px; }
	#imTextObject_3_01 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imTextObject_3_01 .text-container { height: 280px;}
	#imCell_2 { width: 501px; min-height: 303px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_2 { width: 501px; min-height: 303px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_2 { left: 3px; right: 3px; }
	#imGroup_3 { width: 1014px; height: 0px; }
	
}

@media  (max-width: 1149px) and (min-width: 720px) {
	.imContentDataContainer { width: 710px; margin-left: auto; margin-right: auto; padding: 0 5px 0 5px; }
	#imGroup_1 { width: 100%; }
	#imGroup_2 { width: 710px; }
	#imCell_1 { width: 351px; min-height: 346px;  padding-top: 3px; padding-bottom: 3px; padding-left: 2px; padding-right: 2px; }
	#imCellStyle_1 { width: 351px; min-height: 346px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_1 { left: 2px; right: 2px; }
	#imTextObject_3_01 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imTextObject_3_01 .text-container { height: 340px;}
	#imCell_2 { width: 351px; min-height: 346px;  padding-top: 3px; padding-bottom: 3px; padding-left: 2px; padding-right: 2px; }
	#imCellStyle_2 { width: 351px; min-height: 346px; padding: 3px 3px 136px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_2 { left: 2px; right: 2px; }
	#imGroup_3 { width: 710px; height: 0px; }
	
}

@media  (max-width: 719px) and (min-width: 480px) {
	.imContentDataContainer { width: 470px; margin-left: auto; margin-right: auto; padding: 0 5px 0 5px; }
	#imGroup_1 { width: 100%; }
	#imGroup_2 { width: 470px; }
	#imCell_1 { width: 233px; min-height: 466px;  padding-top: 3px; padding-bottom: 3px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_1 { width: 233px; min-height: 466px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_1 { left: 1px; right: 1px; }
	#imTextObject_3_01 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imTextObject_3_01 .text-container { height: 460px;}
	#imCell_2 { width: 233px; min-height: 466px;  padding-top: 3px; padding-bottom: 3px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_2 { width: 233px; min-height: 466px; padding: 3px 3px 327px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_2 { left: 1px; right: 1px; }
	#imGroup_3 { width: 470px; height: 0px; }
	
}

@media  (max-width: 479px) {
	.imContentDataContainer { width: 100%; }
	#imGroup_1 { width: 100%; }
	#imGroup_2 { width: 100%; clear: left; }
	#imCell_1 { clear: left; }
	#imCell_1 { width: 100%; min-height: 12px;  padding-top: 3px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_1 { width: 100%; min-height: 0px; padding: 3px 3px 3px 3px; }
	#imCellStyleGraphics_1 { top: 3px; bottom: 3px; left: 5px; right: 5px; }
	#imTextObject_3_01 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imCell_2 { clear: left; }
	#imCell_2 { width: 100%; min-height: 12px;  padding-top: 3px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_2 { width: 100%; min-height: 0px; padding: 3px 3px 3px 3px; }
	#imCellStyleGraphics_2 { top: 3px; bottom: 3px; left: 5px; right: 5px; }
	#imGroup_3 { display: none; clear: left; }
	
}

@media (min-width: 1150px) {
	#imHeader_imObjectTitle_06_wrapper { position: absolute; top: 41px; left: 274px; width: 573px; height: 114px; z-index: 1; overflow-y: hidden; }
	#imHeader_imCell_6 { width: 573px; min-height: 72px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCellStyle_6 { width: 573px; min-height: 72px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imHeader_imCellStyleGraphics_6 { left: 0px; right: 0px; }
	#imHeader_imObjectTitle_06_text { font-size: 46.72pt; }
	#imHeader_imObjectTitle_06_text { top: 0px; left: 0px; }
	#imHeader_imObjectTitle_06 {min-height: 72px; }
	
}

@media  (max-width: 1149px) and (min-width: 720px) {
	#imHeader_imObjectTitle_06_wrapper { position: absolute; top: 0px; left: 20px; width: 651px; height: 108px; z-index: 1; overflow-y: hidden; }
	#imHeader_imCell_6 { width: 651px; min-height: 81px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCellStyle_6 { width: 651px; min-height: 81px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imHeader_imCellStyleGraphics_6 { left: 0px; right: 0px; }
	#imHeader_imObjectTitle_06_text { font-size: 53.08pt; }
	#imHeader_imObjectTitle_06_text { top: 0px; left: 0px; }
	#imHeader_imObjectTitle_06 {min-height: 81px; }
	
}

@media  (max-width: 719px) and (min-width: 480px) {
	#imHeader_imObjectTitle_06_wrapper { position: absolute; top: 0px; left: 0px; width: 651px; height: 108px; z-index: 1; overflow-y: hidden; }
	#imHeader_imCell_6 { width: 651px; min-height: 81px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCellStyle_6 { width: 651px; min-height: 81px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imHeader_imCellStyleGraphics_6 { left: 0px; right: 0px; }
	#imHeader_imObjectTitle_06_text { font-size: 53.08pt; }
	#imHeader_imObjectTitle_06_text { top: 0px; left: 0px; }
	#imHeader_imObjectTitle_06 {min-height: 81px; }
	
}

@media  (max-width: 479px) {
	#imHeader_imObjectTitle_06_wrapper { position: absolute; top: 0px; left: 0px; width: 651px; height: 108px; z-index: 1; overflow-y: hidden; }
	#imHeader_imCell_6 { width: 100%; min-height: 81px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; box-sizing: border-box; }
	#imHeader_imCellStyle_6 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imHeader_imCellStyleGraphics_6 { top: 0px; bottom: 0px; left: 0px; right: 0px; }
	#imHeader_imObjectTitle_06_text { font-size: 53.08pt; }
	#imHeader_imObjectTitle_06_text { top: 0px; left: 0px; }
	#imHeader_imObjectTitle_06 {min-height: 81px; }
	
}

